<div class="form-wrapper">
  <div class="form-container">
    <h2>Edit your recipe</h2>
    <div class="black-form">
      <%= render 'recipe-form' %>
    </div>
    <p id="terms">We'll get your recipe up right away!</p>
  </div>
</div>

