<%= render "shared/filter" %>
<div class="container-fluid padded-bottom recipe-index-container">
  <div class="row">
    <% @recipes.each do |recipe|%>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 recipe-cards">
        <% if @recipes != nil %>
          <%= render "shared/card", recipe: recipe %>
        <% else %>
          <h3> There are no recipes yet</h3>
        <% end %>
    </div>
    <% end %>
  </div>
</div>


<% if @recipes.blank? %>
  <h4>There are no recipes containing the term <%= params[:search] %>.</h4>
<% end %>
