      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path recipe.photo, height: 300, width: 400, crop: :fill %>');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2><%= recipe.title %></h2>
          <h3><%= recipe.price %> £</h3>
        </div>
        <% owner = User.find(recipe.user_id) %>
        <% avatar_url = owner.facebook_picture_url || owner.photo.url(:square) || "http://placehold.it/30x30" %>
        <%= cl_image_tag avatar_url, class: "card-user avatar" %>
      </div>



