<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer" id="footer">
        <div class="container footer-menu">
          <div class="footer-first-row">
            <p>ABOUT US</p>
            <p>CONTACT</p>
            <p>PRESS</p>
            <p>JOBS</p>
          </div>
          <div class="footer-second-row">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                <i class="fa fa-google-plus-square" aria-hidden="true"></i>
          </div>
          <div class="footer-third-row">
            <h2>HUBERT</h2>
          </div>
        </div>
    </div>
</footer>
