// Your footer style
.full {
    width: 100%;
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer {
  background: $darkest-grey;
  height: 200px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Raleway,Roboto,Helvetica Neue,Segoe UI,sans-serif;
  font-weight: bolder;
  color: white;
}

.footer-menu {
  padding-top: 20px;
  width: 70%;
}

.footer-first-row {
  display: flex;
  justify-content: space-around;
}

.footer-second-row {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 30px;
}

.fa-facebook-square {
  padding: 0px 20px;
}

.fa-facebook-square:hover {
  color: $red;
}

.fa-twitter-square {
  padding: 0px 20px;
}

.fa-twitter-square:hover {
  color: $red;
}

.fa-google-plus-square {
  padding: 0px 20px;
}

.fa-google-plus-square:hover {
  color: $red;
}

.footer-third-row {
  display: flex;
  justify-content: center;
}

